In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to change the path if needed.)
school_data_to_load = "resources/schools_complete.csv"
student_data_to_load = "resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [ ]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [ ]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"),"reading_score"] = "NaN"

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"),"math_score"] = "NaN"

In [ ]:
#  Step 4. Check the student data for NaN's.
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")]

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
thomas_9th_student_data_df = student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")]
thomas_student_count = thomas_9th_student_data_df["Student ID"].count()

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
remaining_students = (student_count) - (thomas_student_count)
remaining_students

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = passing_math_count / float(remaining_students) * 100
passing_reading_percentage = passing_reading_count / float(remaining_students) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / remaining_students * 100

print(overall_passing_percentage)

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": remaining_students, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
thomas_10th_12th_student_data_df = student_data_df.loc[(student_data_df["grade"] != "9th") & (student_data_df["school_name"] == "Thomas High School")]
thomas_10th_12th_student_count = thomas_10th_12th_student_data_df["Student ID"].count()
print(thomas_10th_12th_student_count)

In [ ]:
# Step 6. Get all the students passing math from THS
passing_math_1012THS_df = thomas_10th_12th_student_data_df[thomas_10th_12th_student_data_df["math_score"] >= 70]
passing_math_1012THS_df

In [ ]:
# Step 7. Get all the students passing reading from THS
passing_reading_1012THS_df = thomas_10th_12th_student_data_df[thomas_10th_12th_student_data_df["reading_score"] >= 70]
passing_reading_1012THS_df

In [ ]:
# Step 8. Get all the students passing math and reading from THS
passing_math_reading_1012THS = thomas_10th_12th_student_data_df[(thomas_10th_12th_student_data_df["reading_score"] >= 70) & (thomas_10th_12th_student_data_df["math_score"] >= 70)]
passing_math_reading_1012THS.head()
passing_math_reading_1012THS_count = passing_math_reading_1012THS["student_name"].count()

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
passing_math_1012THS_count = passing_math_1012THS_df["student_name"].count()
passing_math_1012THS_percentage = passing_math_1012THS_count / thomas_10th_12th_student_count *100

print(passing_math_1012THS_count)
print(passing_math_1012THS_percentage)

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
passing_reading_1012THS_count = passing_reading_1012THS_df["student_name"].count()
passing_reading_1012THS_percentage = passing_reading_1012THS_count / thomas_10th_12th_student_count *100
print(passing_reading_1012THS_count)
print(passing_reading_1012THS_percentage)

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
passing_math_reading_1012THS_percentage = passing_math_reading_1012THS_count / float(thomas_10th_12th_student_count) *100
passing_math_reading_1012THS_percentage

per_school_summary_df

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[["Thomas High School"],["% Passing Math"]] = passing_math_1012THS_percentage

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[["Thomas High School"],["% Passing Reading"]] = passing_reading_1012THS_percentage

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[["Thomas High School"],["% Overall Passing"]] = passing_math_reading_1012THS_percentage

In [ ]:
# per_school_summary_df
per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.
high_perf_schools = per_school_summary_df.sort_values(["% Overall Passing"],ascending=False)
high_perf_schools.head()

In [ ]:
# Sort and show top five schools.
low_perf_schools = per_school_summary_df.sort_values(["% Overall Passing"],ascending=True)
low_perf_schools.head()

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.
ninth_grade_students = school_data_complete_df[(school_data_complete_df["grade"]=="9th")]
tenth_grade_students = school_data_complete_df[(school_data_complete_df["grade"]=="10th")]
eleventh_grade_students = school_data_complete_df[(school_data_complete_df["grade"]=="11th")]
twelfth_grade_students = school_data_complete_df[(school_data_complete_df["grade"]=="12th")]

# Group each school Series by the school name for the average math score.
ninth_grade_students_math = ninth_grade_students.groupby(["school_name"]).mean()["math_score"]
tenth_grade_students_math = tenth_grade_students.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_students_math = eleventh_grade_students.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_students_math = twelfth_grade_students.groupby(["school_name"]).mean()["math_score"]

# Group each school Series by the school name for the average reading score.
ninth_grade_students_reading = ninth_grade_students.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_students_reading = tenth_grade_students.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_students_reading = eleventh_grade_students.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_students_reading = twelfth_grade_students.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
# Combine each Series for average math scores by school into single data frame.
math_by_grade = pd.DataFrame({
    "9th":ninth_grade_students_math,
    "10th":tenth_grade_students_math,
    "11th":eleventh_grade_students_math,
    "12th":twelfth_grade_students_math
    })

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
reading_by_grade = pd.DataFrame({
    "9th":ninth_grade_students_reading,
    "10th":tenth_grade_students_reading,
    "11th":tenth_grade_students_reading,
    "12th":twelfth_grade_students_reading})

In [ ]:
# Format each grade column.
math_by_grade["9th"]=math_by_grade["9th"].map("{:.01f}".format)
math_by_grade["10th"]=math_by_grade["10th"].map("{:.01f}".format)
math_by_grade["11th"]=math_by_grade["11th"].map("{:.01f}".format)
math_by_grade["12th"]=math_by_grade["12th"].map("{:.01f}".format)

reading_by_grade["9th"]=reading_by_grade["9th"].map("{:.01f}".format)
reading_by_grade["10th"]=reading_by_grade["10th"].map("{:.01f}".format)
reading_by_grade["11th"]=reading_by_grade["11th"].map("{:.01f}".format)
reading_by_grade["12th"]=reading_by_grade["12th"].map("{:.01f}".format)

In [ ]:
# Remove the index.
math_by_grade.index.name = None

# Display the data frame
math_by_grade

In [ ]:
## Remove the index.
reading_by_grade.index.name = None

# Display the data frame
reading_by_grade

## Scores by School Spending

In [294]:
# Establish the spending bins and group names.
spending_bins = [0,585,630,645,675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,spending_bins,labels=group_names)

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.185690,97.018739,90.630324,$630-644
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [295]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

overall_passing_spending

Spending Ranges (Per Student)
<$584       90.369459
$585-629    81.418596
$630-644    62.778233
$645-675    53.526855
Name: % Overall Passing, dtype: float64

In [296]:
# Create the DataFrame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.462589,84.319261,62.778233
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [297]:
# Format the DataFrame 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.1f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.1f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.1f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93.5,96.6,90.4
$585-629,81.9,83.2,87.1,92.7,81.4
$630-644,78.5,81.6,73.5,84.3,62.8
$645-675,77.0,81.0,66.2,81.1,53.5

## Scores by School Size

In [298]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [299]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [300]:
# Assemble into DataFrame. 
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.582398,96.732654,90.557997
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [301]:
# Format the DataFrame  
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.1f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.1f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.1f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,93.6,96.1,89.9
Medium (1000-2000),83.4,83.9,93.6,96.7,90.6
Large (2000-5000),77.7,81.3,70.0,82.8,58.3

## Scores by School Type

In [302]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [303]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.610020,96.550223,90.392533
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [304]:
# # Format the DataFrame 
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.1f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.1f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.1f}".format)

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,93.6,96.6,90.4
District,77.0,81.0,66.5,80.8,53.7